<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/game/css/base.css">
  <link rel="icon" href="/home/images/icons/favoricon.ico">

  <!-- Scripts -->
  <script src="/home/js/jquery.min.js"></script>
  <!--script src="/game/js/phaser.min.js"></script-->
  <script src="/game/js/phaser/phaser.js"></script>
</head>
<body>

  <header>
    <h1><a href="<%= home %>"><img src="/home/images/icons/index.ico" alt="Super Marios"></a></h1>
    <nav>
      <ul>
        <li><a href="<%= home %>">Home</a></li>
        <li><a href="<%= game %>">Game</a></li>
        <li><a href="<%= pedia %>">Pedia</a></li>
        <li><a href="<%= login %>">Login</a></li>
      </ul>
    </nav>
  </header>

  <div class="content">
  <%- content %> 
  </div>

</body>
</html>
