<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/home/css/main.css" />
    <link rel="icon" href="/home/images/icons/favoricon.ico">
</head>
<body>
  <header id="header">
      <h1><a href=""><img src="/home/images/icons/index.ico" alt="Super Marios"></a></h1>
      <nav>
          <ul>
              <li><a href="<%= index %>">Home</a></li>
              <li><a href="<%= about %>">About us</a></li>
              <li><a href="<%= game %>">Play Game</a></li>
              <!--<li><a href="#work">Who Is Us</a></li>
              <li><a href="#contact">Contact</a></li>-->
          </ul>
      </nav>
  </header>

  <%- content %> 

  <footer id="footer">

    <!-- Icons -->
    <ul class="actions">
      <li><a href="https://twitter.com/Nintendo" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="https://www.facebook.com/NintendoMario/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="https://www.instagram.com/nintendo/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="https://www.linkedin.com/company/5591/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
      <li><a href="https://dribbble.com/search?q=mario" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
      <li><a href="https://www.pinterest.com/search/pins/?q=mario" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
    </ul>

    <!-- Menu -->
    <ul class="menu">
      <li>&copy; Super Marios</li>
      <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
    </ul>

  </footer>
      
  <!-- Scripts -->
  <script src="/home/js/jquery.min.js"></script>
  <script src="/home/js/jquery.poptrox.min.js"></script>
  <script src="/home/js/jquery.scrolly.min.js"></script>
  <script src="/home/js/jquery.scrollex.min.js"></script>
  <script src="/home/js/skel.min.js"></script>
  <script src="/home/js/util.js"></script>
  <script src="/home/js/main.js"></script>
</body>
</html>
